.Navbar {
    .p-menubar {
        background-color: rgb(41, 148, 174);
        justify-content: end;

        .p-menubar-button, .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
            .p-menuitem-text, .p-submenu-icon {
                color: white;
            }
        } 
    }

    @media screen and (max-width: 960px){
        .p-menubar .p-menubar-button {
            color: white;
        }
        .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
                color: black;
            }
    }
}